data/hexmap.rnc

grammar {

   start = Map

   Map = element map {
      attribute size { text }?,  # Hex Point
      attribute origin { text }?, # Hex Point
      Terrain*,
      Token*
   }

   Terrain = element terrain {
      attribute location { text }
   }

   Token = element token {
      attribute location { text }      
   }
   
}