data/hexmap.rnc

grammar {

   start = Map

   Map = element map {
      attribute size { text }?,  # Hex Point
      attribute origin { text }?, # Hex Point
      Terrains,
      Tokens
   }

   Terrains = element terrains {
      Terrain+
   }

   Terrain = element terrain {
      attribute location { text }
   }

   Tokens = element tokens {
      Token+
   }

   Token = element token {
      attribute location { text }      
   }
   
}